@media all and (max-width: 768px) {
  /* 575px */

  /* ------------------------------- */
  /* --- APP ----------------------- */
  .flexbox {
    /* Flex - parent */
    flex-direction: column;
  }

  .spinner-inladenGegevens {
    left: 50%;
    top: 30%;
  }

  /* ------------------------------- */
  /* --- GEMEENSCHAPPELIJK --------- */
}

@media all and (max-width: 560px) {
  /* ------------------------------- */
  .formulier-groep {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .formulier-groep-item-alleen {
    min-width: 300px;
    flex-grow: 1;
  }

  .formulier-groep-item-twee {
    min-width: 300px;
    flex-grow: 1;
  }

  .formulier-groep-item-drie {
    min-width: 300px;
    flex-grow: 1;
  }

  .formulier-groep-item-landnummer {
    width: 100px;
    min-width: 100px;
  }

  .formulier-groep-item-mobielnummer {
    min-width: 200px;
    flex-grow: 1;
  }

  .card-knoppen {
    /* Flex - child */
    align-self: flex-end;
    /* Flex - parent */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
}
