body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* ------------------------------- */
/* --- APP ----------------------- */
.flexbox {
  /* Flex - parent */
  display: flex;
  flex-direction: row;
  /* Rest */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f8fa;
  height: 100%;
}

.wrapper-nav {
  background-color: #182026;
}

.wrapper {
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.inhoud {
  /* Flex - parent */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ------------------------------- */
/* --- GEMEENSCHAPPELIJK --------- */
.cursorHandje {
  cursor: pointer;
}

/* ------------------------------- */
.titel {
  /* Flex - parent */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* Rest */
  margin-bottom: 15px;
}

.titel-inhoud {
  /* Flex - parent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  /* Rest */
  margin: 0 0 5px 0;
}

.titel-titel1 {
  margin-bottom: 5px;
}

.titel-titel2 {
  margin-bottom: 5px;
}

.titel-acties {
  /* Flex - parent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* Rest */
  margin: 5px 0 0 0;
}

.titel-acties-actie {
  margin-right: 0;
  align-self: flex-start;
}

/* ------------------------------- */
.filters {
  /* Flex - parent */
  display: flex;
  flex-direction: column;
}

.filter-rij {
  /* Flex - child */
  flex-grow: 1;
  /* Flex - parent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}

.filter-component {
  /* Flex - child */
  flex-grow: 1;
  /* Rest */
  min-width: 250px;
}

.filter-component-item {
  margin-right: 10px;
}

/* ------------------------------- */
.formulier-groep {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formulier-groep-altijdSamen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formulier-groep-item-alleen {
  flex-grow: 1;
  min-width: 400px;
}

.formulier-groep-item-twee {
  flex-grow: 1;
  min-width: 200px;
}

.formulier-groep-item-drie {
  flex-grow: 1;
  min-width: 133.33px;
}

.formulier-groep-item-landnummer {
  width: 100px;
  min-width: 100px;
}

.formulier-groep-item-mobielnummer {
  flex-grow: 1;
  min-width: 300px;
}

.formulier-groep-tekstvakKnop-knop {
  width: 100px;
  min-width: 100px;
}

.mededeling {
  padding-right: 10px;
  margin-bottom: 20px;
}

.spinner {
  margin-left: 10px;
}

.mededeling-AanvraagNietIngediend {
  margin-top: 10px;
}

.extraInfo {
  margin-left: 5px;
}

.qrCode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.qrCode-scanner {
  margin-top: 5px;
  margin-bottom: 20px;
}

.knop-vullen {
  margin-right: 10px;
  margin-bottom: 10px;
}
