/* ------------------------------- */
/* --- NavBar Lijsten ------------ */
.nav-bar-lijsten {
  /* Flex - parent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-bar-lijsten-item {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
