.nav {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  background-color: #182026;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  padding: 10px 20px 20px 20px;
  border-bottom: #f5f8fa 5px solid;
}

.nav-header-item {
  color: #f5f8fa;
}

.nav-header-item:hover {
  color: #f5f8fa;
  font-weight: normal;
  text-decoration: none;
}

.nav-header-menu {
  display: none;
  visibility: hidden;
  margin-left: 20px;
  color: #f5f8fa;
}

.nav-items {
  display: flex;
  flex-direction: column;
  flex-basis: 18rem;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
  padding: 30px 20px;
  color: #f5f8fa;
}

.nav-item:hover {
  text-decoration: none;
  font-weight: bold;
  color: #f5f8fa;
}

.nav-item-icon {
  margin-right: 20px;
}

.nav-item-text {
  margin: 0;
}

.active {
  font-weight: bold;
  color: #d99e0b;
}

.active:hover {
  color: #d99e0b;
}

.divider {
  padding: 20px 0;
}
