@media all and (max-width: 991px) {
  .nav {
    flex-basis: 15rem;
  }

  .nav-header {
    font-size: x-large;
    padding: 10px 10px 20px 20px;
    border-bottom: #f5f8fa 5px solid;
  }

  .nav-item {
    font-size: medium;
    padding: 30px 20px 00px 20px;
  }

  .nav-item:hover {
    font-weight: normal;
  }

  .active:hover {
    font-weight: bold;
  }

  .verbergBijSmaller {
    display: none;
    visibility: hidden;
  }
}

@media all and (max-width: 768px) {
  /* 575px */
  .nav {
    flex-basis: auto;
  }

  .nav-header-menu {
    display: flex;
    visibility: visible;
  }

  .onzichtbaar {
    display: none;
    visibility: hidden;
  }

  .nav-item {
    justify-content: center;
    font-size: medium;
    padding: 20px 10px 10px 10px;
  }

  .header {
    font-size: xx-large;
  }

  .divider {
    padding: 10px 0;
  }
}
